:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --azul-theme-background-color: #000000;
  --azul-theme-main-color: #1e90ff;
  --azul-theme-secondary-color: #ff6c05;
  --azul-theme-tertiary-color: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--azul-theme-background-color);
  height: 100%;
}

#root{
  height: 100%;
}
